@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Meow+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Meow+Script&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
	margin: 0;
	padding: 0;
	font-family: "DM Sans", sans-serif;
}
.contenido {
	height: 100vh;
	position: relative;
	z-index: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#confetti {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	
}
.section-heart{
	position: absolute;
	width: 30rem;
	height: 20rem;
	z-index: 2;	
	display: none;
}
.section-heart.open{
	display: block;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.feliz_cumple{
	color: #051F36;
	line-height: 45px;
}
.feliz_cumple>.feliz,.rosmery{
	text-transform: uppercase;
	font-size: 1.5rem;
}
.feliz_cumple>.feliz{
	margin-left: 30%;
}
.feliz_cumple>.rosmery{
	margin-left: 60%;
}
.feliz_cumple>h1{
	text-align: center;
	font-size: 6rem;
	font-weight: 100;
	font-family: 'Meow Script', cursive;
	text-shadow: -5px 5px 0px rgba(150, 150, 150, 0.26);
}
.feliz_cumple>.sombrero{
	width: 5rem;
	position: absolute;
	right: 0;
	top: 15%;
}
.heart {
	width: 100px;
	height: 100px;
	position: absolute;
	bottom: 0;
	background: url(https://cssanimation.rocks/images/posts/steps/heart.png)
		no-repeat;
	background-position: 0 0;
	cursor: url("./assets/heartsvg.svg"),
    pointer;
	animation: fave-heart 1s steps(28);
}
.heart:hover {
	background-position: -2800px 0;
	transition: background 1s steps(28);
}
@keyframes fave-heart {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: -2800px 0;
	}
}
.section-felicitaciones {
	display: none;
	width: 30rem;
	height: 30rem;
	z-index: 3;
	background-color: white;
	border-radius: 10px;
}
.section-felicitaciones.open {
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 1s ease;
	padding: 2rem;
}
.contenido-felicitaciones{
	width: 100%;
	height: 100%;
	border: 1px solid #ce3635;
	border-radius: 10px;
	text-align: center;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.contenido-felicitaciones>h3{
	font-family: 'Nunito', sans-serif;
	text-transform: uppercase;
	color: #FC4868;
	letter-spacing: 5px;
}
.contenido-felicitaciones>h1{
	font-family: 'Nunito', sans-serif;
	text-transform: capitalize;
	color: #C60344;
	font-size: 3rem;
}
.contenido-felicitaciones>p{
	font-family: 'Nunito', sans-serif;
	color: #fc809b;
}
.contenido-felicitaciones .foto{
	width: 5rem;
	margin: 2rem 0;
	border: 5px solid white;
	border-bottom: 15px solid white;
	box-shadow: 1px 1px 5px 1px rgba(65, 65, 65, 0.47);
}
.contenido-felicitaciones .foto.uno{
	position: absolute;
	top: 0;
	left: 0;
	transform: rotate(-30deg);
}
.contenido-felicitaciones .foto.dos{
	position: absolute;
	top: 0;
	right: 0;
	transform: rotate(30deg);
}
.abrir_carta{
	width: 2rem;
	transform: rotate(-5deg);
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	cursor: url("./assets/heartsvg.svg"),
    pointer;
	transition: 0.2s;
}
.abrir_carta:hover{
	width: 2.5rem;
}
.btn-atras{
	cursor: pointer;
	border: 1px solid blue;
}

/* CARTA */
.section-carta {
	display: none;
}
.section-carta.open{
	display: flex;
	justify-content: center;
	align-items: center;
}

.carta {
	width: 20rem;
	height: 27rem;
	background: url("assets/paper.jpg");
	background-size: cover;
	padding: 2rem 3rem;
	box-shadow: -1px -1px 5px 0px rgba(65, 65, 65, 0.47);
	position: relative;
	border-radius: 5px;
}
.carta__titulo, .carta__texto {
	font-family: 'Dancing Script', cursive;
	font-size: 1.5rem;
	color: #1C46A7;
}
.carta__texto{	
	display: none;
}
.fotos{
	height: 4rem;
	width: 4rem;
	position: absolute;
	bottom: 0;
	right: 0;
	cursor: pointer;
}
.fotos:hover{
	height: 4.1rem;
	width: 4.1rem;
}


