@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Meow+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Meow+Script&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');
* {
	margin: 0;
	padding: 0;
	font-family: "DM Sans", sans-serif;
}
.contenido {
	height: 100vh;
	position: relative;
	z-index: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#confetti {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	
}
.section-heart{
	position: absolute;
	width: 30rem;
	height: 20rem;
	z-index: 2;	
	display: none;
}
.section-heart.open{
	display: block;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.feliz_cumple{
	color: #051F36;
	line-height: 45px;
}
.feliz_cumple>.feliz,.rosmery{
	text-transform: uppercase;
	font-size: 1.5rem;
}
.feliz_cumple>.feliz{
	margin-left: 30%;
}
.feliz_cumple>.rosmery{
	margin-left: 60%;
}
.feliz_cumple>h1{
	text-align: center;
	font-size: 6rem;
	font-weight: 100;
	font-family: 'Meow Script', cursive;
	text-shadow: -5px 5px 0px rgba(150, 150, 150, 0.26);
}
.feliz_cumple>.sombrero{
	width: 5rem;
	position: absolute;
	right: 0;
	top: 15%;
}
@media screen and (max-width: 600px) {
	.section-heart{
		width: 100%;
	}
	.feliz_cumple>h1{
		font-size: 5rem;
	}
}
.heart {
	width: 100px;
	height: 100px;
	position: absolute;
	bottom: 0;
	background: url(https://cssanimation.rocks/images/posts/steps/heart.png)
		no-repeat;
	background-position: 0 0;
	cursor: url("./assets/heartsvg.png"),
    pointer;
	animation: fave-heart 1s steps(28);
}
.heart:hover {
	background-position: -2800px 0;
	transition: background 1s steps(28);
}
@keyframes fave-heart {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: -2800px 0;
	}
}
.section-felicitaciones {
	display: none;
	width: 30rem;
	height: 30rem;
	z-index: 3;
	background-color: white;
	border-radius: 10px;
}
.section-felicitaciones.open {
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 1s ease;
	padding: 2rem;
}
.contenido-felicitaciones{
	width: 100%;
	height: 100%;
	border: 1px solid #ce3635;
	border-radius: 10px;
	text-align: center;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.contenido-felicitaciones>h3{
	font-family: 'Nunito', sans-serif;
	text-transform: uppercase;
	color: #FC4868;
	letter-spacing: 5px;
}
.contenido-felicitaciones>h1{
	font-family: 'Nunito', sans-serif;
	text-transform: capitalize;
	color: #C60344;
	font-size: 3rem;
}
.contenido-felicitaciones>p{
	font-family: 'Nunito', sans-serif;
	color: #fc809b;
}
.musica{
	position: absolute;
	bottom: 1rem;
	left: 1rem;
	width: 2.5rem;
	cursor: url("./assets/heartsvg.png"),
    pointer;
	transform: rotate(12deg);
	transition: .3s;
}
.musica:hover{
	width: 3rem;
}
.abrir_carta{
	transform: rotate(-5deg);
	right: 1rem;
	
}
.abrir_carta,.regalo , .fotos{
	bottom: 1rem;
	width: 2rem;
	position: absolute;
	cursor: url("./assets/heartsvg.png"),
    pointer;
	transition: 0.2s;
}
.abrir_carta:hover,.regalo:hover, .fotos:hover{
	width: 2.5rem;
}
.btn-atras{
	cursor: pointer;
	border: 1px solid blue;
}

/* CARTA */
.section-carta {
	display: none;
	z-index: 3;
}
.section-carta.open{
	display: flex;
	justify-content: center;
	align-items: center;
}

.carta {
	width: 20rem;
	background: url("assets/paper.jpg");
	background-size: cover;
	padding: 2rem 3rem;
	box-shadow: -1px -1px 5px 0px rgba(65, 65, 65, 0.47);
	position: relative;
	border-radius: 5px;
}
.carta img{
	position: absolute;
	top: 0;
	left: 0;
	transform: rotate(-30deg);
}
.carta__titulo, .carta__texto {
	font-family: 'Dancing Script', cursive;
	font-size: 1.5rem;
	color: #1C46A7;
}
#closeCarta{
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	cursor: pointer;
	color: #1C46A7;
}
/* Galeria */
.section-galeria{
	width: 40rem;
	height: 30rem;
	background: url('assets/album.jpg');
	background-size: cover;
	background-position: center;
	box-shadow: 1px 3px 1px 1px rgba(150, 150, 150, 0.26);
	z-index: 3;
	position: relative;
	border-radius: 20px;
	display: none;
	overflow: hidden;
}
.section-galeria.open{
	display: block;
}
#closeGaleria{
	color: #FC4868;
	cursor: pointer;
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	z-index: 999;
}
.album{
	width: 100%;
	height: 100%;
}
.swiper-button-prev,
.swiper-button-next {
	color: #FC4868 !important;
}
.album__uno{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 20rem;
}
.album__uno > p{
	color: #292929;
	font-family: 'Nunito', sans-serif;
	font-size: 1.5rem;
	margin-top: 2rem;
}
.album__uno > h1{
	color: #FC4868;
	font-size: 4rem;
	font-family: 'Meow Script', cursive;
	font-weight: 400;
	text-shadow: -1px 5px 0px rgb(150 150 150 / 26%);
}
.foto{
	border: 0.3rem solid #fff;
	box-shadow: 0 8px 6px -6px rgba(54, 54, 54, 0.6);
}
.album__uno-foto{
	background: url('assets/fotos/foto1.jpg');
	width: 12rem;
	height: 15rem;
	background-size: cover;
	background-position: center;
	transform: rotate(-15deg);
}
.album__uno-foto > .cinta{
	position: absolute;
	right: -3rem;
	transform: rotate(45deg);
}
.album__uno > .corazon1{
	width: 10rem;
	height: 10rem;
	position: absolute;
	/* transform: rotate(-15deg); */
	left: 3rem;
	top: 1rem;
}
.album__uno > .corazon2{
	width: 5rem;
	height: 5rem;
	position: absolute;
	transform: rotate(-15deg);
	right: 6rem;
	bottom: 14rem;
}
.album__uno > .corazon3{
	width: 10rem;
	height: 10rem;
	position: absolute;
	transform: rotate(15deg);
	right: 3rem;
	bottom: 6rem;
}
.album__uno > .corazon4{
	width: 6rem;
	height: 6rem;
	position: absolute;
	transform: rotate(-10deg);
	left: 6rem;
	top: 8rem;
}

.swiper-slide{
	padding: 1rem;
}

.album__dos, .album__tres, .album__cuatro{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.album p{
	color: #292929;
	font-family: 'Grape Nuts', cursive;
	font-size: 1.5rem;
	font-weight: 600;
}
.album__dos-foto.foto1{
	background: url('assets/fotos/foto3.jpg');
	width: 15rem;
	height: 10rem;
	background-size: cover;
	background-position: center;
	transform: rotate(15deg);
	position: absolute;
	top: 8rem;
	left: 8rem;
}
.album__dos-foto.foto1 .cinta{
	position: absolute;
	top: -1rem;
	left: calc(50% - 3rem);
}
.album__dos-foto.foto2{
	background: url('assets/fotos/foto5.jpg');
	width: 8rem;
	height: 10rem;
	background-size: cover;
	background-position: center;
	transform: rotate(-15deg);
	position: absolute;
	bottom: 4rem;
}
.album__dos-foto.foto2 .cinta{
	position: absolute;
	left: -3.8rem;
	top: 4rem;
	transform: rotate(90deg);
}
.album__dos>p{
	position: absolute;
	top: 3rem;
}
.album__dos>.corazon1{
	position: absolute;
	bottom: 3rem;
	left: 3rem;
	width: 10rem;
	transform: rotate(-25deg);
}
.album__dos>.corazon2{
	position: absolute;
	top: 5rem;
	right: 8rem;
	width: 7rem;
	transform: rotate(25deg);
}
.album__tres-foto.foto1{
	background: url('assets/fotos/foto6.jpg');
	width: 10rem;
	height: 15rem;
	background-size: cover;
	background-position: center;
	transform: rotate(-5deg);
	position: absolute;
	top: 5rem;
	right: 15rem;
}
.album__tres-foto.foto1>.cinta{
	position: absolute;
	top: -1rem;
	left: calc(50% - 3rem);
}
.album__tres-foto.foto2{
	background: url('assets/fotos/foto4.jpg');
	width: 7rem;
	height: 10rem;
	background-size: cover;
	background-position: center;
	transform: rotate(10deg);
	position: absolute;
	top: 15rem;
	right: 10rem;
}
.album__tres-foto.foto2>.cinta{
	position: absolute;
	right: -3rem;
	transform: rotate(45deg);
}
.album__tres>.corazon1{
	position: absolute;
	bottom: 3rem;
	left: 3rem;
	width: 10rem;
	transform: rotate(-25deg);
}
.album__tres>.corazon2{
	position: absolute;
	top: 5rem;
	right: 8rem;
	width: 7rem;
	transform: rotate(25deg);
}
.album__tres>p{
	position: absolute;
	top: calc(50% - 3rem);
	left: 3rem;
}
.album__cuatro-foto.foto1{
	background: url('assets/fotos/foto7.jpg');
	width: 10rem;
	height: 15rem;
	background-size: cover;
	background-position: center;
	transform: rotate(5deg);
	position: absolute;
	top: 2rem;
	right: 13rem;
}
.album__cuatro-foto.foto1>.cinta{
	position: absolute;
	top: -1rem;
	left: calc(50% - 3rem);
}
.album__cuatro-foto.foto2{
	background: url('assets/fotos/foto8.jpg');
	width: 10rem;
	height: 10rem;
	background-size: cover;
	background-position: center;
	transform: rotate(-10deg);
	position: absolute;
	bottom: 5rem;
	right: 15rem;
}
.album__cuatro-foto.foto2>.cinta{
	position: absolute;
	right: -3rem;
	transform: rotate(45deg);
}
.album__cuatro>.corazon1{
	position: absolute;
	bottom: 3rem;
	left: 3rem;
	width: 10rem;
	transform: rotate(-25deg);
}
.album__cuatro>.corazon2{
	position: absolute;
	top: 5rem;
	right: 8rem;
	width: 7rem;
	transform: rotate(25deg);
}
.album__cuatro>p{
	position: absolute;
	top: calc(50% - 8rem);
	left: 0rem;
}

@media screen and (max-width: 568px){
	.album__uno .corazon1{
		width: 5rem;
		height: 5rem;
	}
	.album__uno .corazon4{
		top: 2rem;
		left: 2rem;
		width: 4rem;
	}
	.album__uno .corazon2{
		bottom: 10rem;
		right: 3rem;
	}
	.album__uno .corazon3{
		width: 3rem;
	}
	.album__dos-foto.foto1{
		left: 2rem;
		width: 15rem;
		height: 10rem;
	}
	.album__dos-foto.foto2{
		width: 8rem;
		height: 10rem;
	}
	.album__dos>p{
		top: 1rem;
		width: 15rem;
	}
	.album__dos .corazon1{
		left: 2rem;
		width: 6rem;
	}
	.album__dos .corazon2{
		right: 5rem;
		width: 6rem;
	}
	.album__tres .corazon1{
		left: 0rem;
		width: 10rem;
	}
	.album__tres .corazon2{
		right: 8rem;
		top: 6rem;
		width: 6rem;
	}
	.album__tres>p{
		top: 1rem;
	}
	.album__cuatro-foto.foto1{
		right: 12rem;
		width: 8rem;
		height: 10rem;
		top: 12rem;
	}
	.album__cuatro-foto.foto2{
		left: -5rem;
	}
	.album__cuatro .corazon1{
		right: 2rem;
		width: 6rem;
	}
	.album__cuatro .corazon2{
		right: 8rem;
		top: 5rem;
	}
	.album__cuatro>p{
		top: 1.5rem;
		left: -4rem;
	}
}